<div>
  <div *ngIf="productList$ | async" class="container-fluid">
    <div class="row">
      <div class="col-md-3 product-list-container" *ngFor="let product of productList$ | async">
        <div class="product-name-wrapper">
          <span>{{product.name}}</span>
        </div>
        <div class="product-img-wrapper">
          <img class="img-responsive img-thumbnail no-border product-img" [src]="product.imageUrl" alt="Product Image" />
        </div>
        <div class="product-buttons-wrapper">
          <button class="btn btn-info" (click)="showThisProductsDetail(product)">
             <span class="fa fa-list"></span> Detail
          </button>
          <button class="btn btn-success" (click)="addThisProductToCart(product)">
            <span class="fa fa-shopping-cart"></span> Add to Cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
